html,
body {
  margin: 0;
  padding: 0;
}

canvas {
  display: block;
}

body {
  background-color: bisque;
}

#p5-canvas-container {
  width: 1063px;
  margin: auto;
  /* t r b l */
  padding: 100px 100px 50px 100px;
  /* background-color: aqua; */
}

#text-input-container {
  width: 1063px;
  margin: auto;
  padding: 0px 100px 100px 100px;
  /* background-color: aqua; */
}